<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muirkirk Angling Association - Incorrect Details</title>
  <link rel="stylesheet" href="/Fish.css">
</head>
<body>
    <main>
  <div class="error-container">
    <div class="fish">
      <div class="fish-body">
        <div class="tail"></div>
        <div class="fin"></div>
      </div>
    </div>
    <div class="error-message">
          <h1><%= message %></h1>
      <h2>Our fish swam away while looking for your login details. Please try again.</h2>
        <h2>Swim back to <button><a href="/login" title="Calmly swim back to the login page">login</a></button> page.</h2>
    </div>
  </div>
  </main>
</body>
</html>